<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SampleServiceSoap" />
                <binding name="SampleServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8439/SampleService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SampleServiceSoap"
                contract="WebServiceSample.SampleServiceSoap" name="SampleServiceSoap" />
            <endpoint address="http://192.168.1.5:555/SampleService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SampleServiceSoap1"
                contract="SampleSvc.SampleServiceSoap" name="SampleServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>